<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135929226-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135929226-1');
</script>

  {{ partial "head-meta.html" . }}

  {{ block "schema-dot-org" . }}
  <!-- schema.org metadata differs for Nodes and Pages -->
  {{ end }}

  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Noto+Sans+JP|Sawarabi+Gothic|Sawarabi+Mincho" rel="stylesheet">

  <link href="{{ .Site.BaseURL }}css/custom.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/syntax.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,500,700" rel="stylesheet">

  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  {{ partial "mathjax_support.html" . }}

</head>

<body>

  <nav class="navbar navbar-expand-sm fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">Sports Labo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              編集者
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ .Site.BaseURL }}authors/atom-scott">スコットアトム</a>
              <a class="dropdown-item" href="{{ .Site.BaseURL }}authors/saeru-yamamuro">山室冴</a>
              <a class="dropdown-item" href="{{ .Site.BaseURL }}authors/ikuma-uchida">内田郁真</a>
              <a class="dropdown-item" href="{{ .Site.BaseURL }}authors/gota-shirato">白戸豪太</a>

            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Place this data between the <head> tags of your website -->
  <title>Page Title. Maximum length 60-70 characters</title>
  <meta name="description" content="閲覧性・集約性の高いスポーツデータまとめレポジトリ" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@publisher_handle">
  <meta name="twitter:title" content="{{ .Params.title }}">
  <meta name="twitter:description" content="閲覧性・集約性の高いスポーツデータまとめレポジトリ">
    <meta name="twitter:image" content="{{ .Params.photo }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ .Params.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ .Params.photo }}" />
    <meta property="og:site_name" content="Sportech Sanity" />


    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}

        </div>

      </div>
    </div>

    <!-- start of footer section -->

    <footer class="footer text-center">
      <div class="container">

        <span class="text-muted">Copyright &copy; Atom Scott, <time datetime="2018">2018</time>.</span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>

</html>
