{{ define "main" }}
<main>
    <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <span class="minor_line">アトムの</span>
                    <br>
                    <span class="major_line">データサイエンス・AI学習メモ</span>
                    <br>
                    <span class="minor_line2">In the depth of winter, I finally learned that within me there lay an invincible summer.
</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 blurb">
                <p>こんにちは！Welcom to the website!<br>本サイトは基本的に<a href="http://projects.atomscott.com/jp/">僕</a>が機械学習の勉強をしながら、学んだことまとめて、ポートフォリオにしたものとなっています。実装は全てPythonでやってます。Pythonはプログラミング言語の中だと簡単な方らしいですが、色々ミスがバグがあるかもしれないので、あったら教えてください。</p>
                <p>このサイトのフレームワークはChris Albon氏が開発したものを使っています。彼の<a href="https://github.com/chrisalbon">Github</a>にあがっていますが、けっこう使いやすいですよ！</p>
            </div>
        </div>

        <div class="row" id="machine_learning">
                                    <div class="col-sm-12">
                            <p><a href="/prml/info.md">PRML詳細←勉強時間・入手方法etc.</a></p>
            </div>

            <div class="col-sm-12">
                <h3 class="category_header">PRMLのメモ</h3>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">第１章イントロダクション</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/prml/Ch1_Introduction/").Reverse }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="research">

            <div class="col-sm-12">
                <h3 class="category_header">研究メモ</h3>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">動き予測</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/research/movement_simulation/").Reverse }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>
{{ end }}
