{{ define "main" }} 
 <main>
<div class="homepage">
<div class="row">
  <div class="col-sm-12">
    <h1>
      <span class="minor_line">ｽﾎﾟｻﾆ</span>
      <br>
      <span class="major_line">Sportech Sanity</span>
      <br>
      <span class="minor_line2">閲覧性・集約性の高いスポーツデータまとめレポジトリ
      </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 blurb">
    <p>スポーツに関するデータは数多く存在します．それはスポーツを愛する人と同じだけ存在するかもしれません．
      そしてデータの扱い方や分析した結果を示す論文も多く存在します．
      しかしそれらの知見は集約されることなく，個人や組織レベルで発散してしまっているのが現状だと考えます．
      Sports Laboではこの課題を解消するため，閲覧性・集約性の高いスポーツデータまとめレポジトリを立ち上げました．
  </div>
</div>

    <div class="row" id="JQAS">    <div class="col-sm-12">    <h3 class="category_header">JQAS</h3>    </div>    </div>    
        <div class="row">        <div class="col-sm-12">        <div class="card">        <h4 class="card-header">2019</h4>        <div class="card-body">        <ul>        {{ range (where .Pages "File.Dir" "in" "/JQAS/['JQAS', 'MIT SSAC', 'CVPR Sports', 'soccer']/").Reverse }}/        <li>        <a href="{{.Permalink}}">{{.Title}}</a>        </li>        {{ end }}        </ul>         </div>        </div>        </div>        </div>        
    <div class="row" id="MIT SSAC">    <div class="col-sm-12">    <h3 class="category_header">MIT SSAC</h3>    </div>    </div>    
        <div class="row">        <div class="col-sm-12">        <div class="card">        <h4 class="card-header">2019</h4>        <div class="card-body">        <ul>        {{ range (where .Pages "File.Dir" "in" "/MIT SSAC/['JQAS', 'MIT SSAC', 'CVPR Sports', 'soccer']/").Reverse }}/        <li>        <a href="{{.Permalink}}">{{.Title}}</a>        </li>        {{ end }}        </ul>         </div>        </div>        </div>        </div>        
    <div class="row" id="CVPR Sports">    <div class="col-sm-12">    <h3 class="category_header">CVPR Sports</h3>    </div>    </div>    
        <div class="row">        <div class="col-sm-12">        <div class="card">        <h4 class="card-header">2018</h4>        <div class="card-body">        <ul>        {{ range (where .Pages "File.Dir" "in" "/CVPR Sports/['JQAS', 'MIT SSAC', 'CVPR Sports', 'soccer']/").Reverse }}/        <li>        <a href="{{.Permalink}}">{{.Title}}</a>        </li>        {{ end }}        </ul>         </div>        </div>        </div>        </div>        
    <div class="row" id="soccer">    <div class="col-sm-12">    <h3 class="category_header">soccer</h3>    </div>    </div>    
        <div class="row">        <div class="col-sm-12">        <div class="card">        <h4 class="card-header">2019</h4>        <div class="card-body">        <ul>        {{ range (where .Pages "File.Dir" "in" "/soccer/['JQAS', 'MIT SSAC', 'CVPR Sports', 'soccer']/").Reverse }}/        <li>        <a href="{{.Permalink}}">{{.Title}}</a>        </li>        {{ end }}        </ul>         </div>        </div>        </div>        </div>        
</div> 
</main> 
 {{ end }}
