{{ define "title" }}{{ .Title | markdownify }}{{ end }} {{ define "main" }}
<article>
  <div class="list">
    <div class="content">
      <h2>論文紹介一覧</h2>
      <!-- Ranges through content/posts/*.md -->
      {{ range where .Site.Pages ".Params.info" "!=" nil}}
      <p><a href="{{.Permalink}}">{{.Title}}<img class="preview" src="{{.Permalink}}{{.Params.photo}}"></img></a></p><br>
      {{ end }}
    </div>
  </div>
</article>
<style>
  .list p {
    font-size: 0.8em;
  }

  .preview {
    object-fit: cover;
    height: 15px;
    width: 15px;
    margin-bottom: .5em;
    clear: left;

  }
</style>
{{ end }}
