{{ define "title" }}{{ .Title | markdownify }}{{ end }} {{ define "schema-dot-org" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  {{- /* Google recommends the headline be no more than 110 characters */}}
  "headline": "{{ substr .Title 0 110 }}",
  {{- with .Params.images -}}{{ range first 1 . }}
  "image": {
    "@type": "ImageObject",
    "url": "{{ . | absURL }}"
    {{- /* Don't try to get imageConfig if image param is not local */ -}}
    {{- if not (or (hasPrefix . "http://") (hasPrefix . "https://")) -}}
    {{- with (imageConfig (printf "/static/%s" .)) -}}
    ,
    "height": "{{ .Height }}",
    "width": "{{ .Width }}"
    {{- end -}}
    {{ end }}
  },
  {{- end -}}{{ end }}
  "url": "{{ printf "%s" .Permalink }}",
  "wordCount": "{{ .WordCount }}",
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .PublishDate.IsZero }}
  "datePublished": "{{ .PublishDate.Format $ISO8601 }}",
  {{- else }}
  "datePublished": "{{ .Date.Format $ISO8601 }}",
  {{- end }}
  {{- if not .Lastmod.IsZero }}
  "dateModified": "{{ .Lastmod.Format $ISO8601 }}",
  {{- end }}
  {{- with .Site.Social.GooglePlus }}
  "publisher": "{{ printf "%s" . }}",
  {{- end }}
  "author": {
    "@type": "Person",
    "name": "{{ .Params.author | default .Site.Params.author }}"
  }
  {{- if or (.Params.categories) (.Params.tags) -}}
  ,
  "keywords": "{{ delimit (union .Params.categories .Params.tags) ", " }}"
  {{- end }}

  {{- with .Params.description -}}
  ,
  "description": "{{ . }}"
  {{- end }}
}
</script> {{ end }} {{ define "main" }} {{ $dateFormat := default " 02 Jan 2006" (index .Site.Params "date_format") }}


<article>
  <div class="technical_note">
  <header>

    <h1 class="technical_note_title">{{ .Title }}</h1>
    <div class="technical_note_date">
      <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00 " }}">{{ .Date.Format $dateFormat }}</time>
    </div>
  </header>

  {{- range .Params.authors }}
  {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
  <p>作成者 : <a href="{{ .Permalink }}"><span class="author-name text-primary">{{ .Params.name }}</span>
    <small class="author-social-links small">
      <a href="https://twitter.com/{{ .Params.twitter }}" class="author-social-link twitter small" target="_blank">
        <i class="fa fa-2x fa-twitter"></i>
      </a>
     </small><!-- author-social-links -->
     </a>
     </p>

  {{ end }}
{{ end }}
<hr>
<h2>論文情報</h2>
<ul>
  <li>{{.Params.info.title}}</li>
  <li>{{.Params.info.authors}}</li>
  <li>{{.Params.info.labs}}</li>
  <li>{{.Params.info.conference}}</li>
  <li><a href={{.Params.info.url}}>{{.Params.info.url}}</a></li>
</ul>
<hr>

  <div class="content">
    <h2>目次</h2>
    <div class="toc rounded">
    {{ .TableOfContents }}
    </div>
  {{ .Content }}
</div>

{{- range .Params.authors }}
{{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
  <hr class="visible-xs-block">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-0">
      <img class="img-responsive rounded center-block" src="{{ .Params.photo }}">
    </div><!-- col-sm-3 -->

    <div class="col-xs-12 col-sm-9">
      <div class="author-box-intro text-muted">About the Author</div>
        <!-- .author-box-intro --><div class="author-inline-block">
        <h4 class="author-box-title">
         <a href="{{ .Permalink }}"><span class="author-name text-dark">{{ .Params.name }}</span></a>
        </h4>
        <a href="https://twitter.com/{{ .Params.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ .Params.twitter }}
        </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="author-box-content">{{ .Params.bio }}
        </div><!-- author-box-content -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- panel -->


{{ end }}
{{ end }}

  <aside>
      <div class="bug_reporting">
          <h4>エラー、もしくはバグが見つかったら連絡をください！</h4>
          <p><a href='https://twitter.com/AtomJamesScott'>Twitter</a>で一番活動しているので、DMを送って頂ければ対応できるかと思います。 </p>
      </div>
      </aside>

    </div>
</article>
<!-- /.blog-post -->

{{ end }}
