/* Background */
.chroma {
  background-color: #f9f9f9
}

/* Error */
.chroma .err {
  color: #ff0000;
}

/* LineTableTD */
.chroma .lntd {
  ;
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  ;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  overflow: auto;
  display: block;
}

/* LineHighlight */
.chroma .hl {
  background-color: #ffffcc;
  display: block;
  width: 100%
}

/* LineNumbersTable */
.chroma .lnt {
  ;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  display: block;
}

/* LineNumbers */
.chroma .ln {
  ;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
}

/* Keyword */
.chroma .k {
  color: #494845;
  font-weight: bold
}

/* KeywordConstant */
.chroma .kc {
  color: #494845;
  font-weight: bold
}

/* KeywordDeclaration */
.chroma .kd {
  color: #494845;
  font-weight: bold
}

/* KeywordNamespace */
.chroma .kn {
  color: #494845;
  font-weight: bold
}

/* KeywordPseudo */
.chroma .kp {
  color: #0088ff;
  font-weight: bold
}

/* KeywordReserved */
.chroma .kr {
  color: #228899;
  font-weight: bold
}

/* KeywordType */
.chroma .kt {
  color: #6666ff;
  font-weight: bold
}

.chroma .n {
  color: #4b4b4b
}

/* NameAttribute */
.chroma .na {
  color: #ff0000
}

/* NameBuiltin */
.chroma .nb {
  color: #ff0000
}

/* NameClass */
.chroma .nc {
  color: #ff0000;
  font-weight: bold
}

/* NameConstant */
.chroma .no {
  color: #ff0000;
  font-weight: bold
}

/* NameDecorator */
.chroma .nd {
  color: #ff0000;
  font-weight: bold
}

/* NameEntity */
.chroma .ni {
  color: #ff0000
}

/* NameException */
.chroma .ne {
  color: #ff0000;
  font-weight: bold
}

/* NameFunction */
.chroma .nf {
  color: #ff0000;
  font-weight: bold
}

/* NameLabel */
.chroma .nl {
  color: #ff0000;
  font-weight: bold
}

/* NameNamespace */
.chroma .nn {
  color: #ff0000;
  font-weight: bold
}

/* NameTag */
.chroma .nt {
  color: #ff0000
}

/* NameVariable */
.chroma .nv {
  color: #ff0000
}

/* NameVariableClass */
.chroma .vc {
  color: #ff0000
}

/* NameVariableGlobal */
.chroma .vg {
  color: #ff0000
}

/* NameVariableInstance */
.chroma .vi {
  color: #ff0000
}

/* LiteralString */
.chroma .s {}

/* LiteralStringAffix */
.chroma .s1 {
  color: #ea6900
}

/* LiteralStringBacktick */
.chroma .sb {}

/* LiteralStringChar */
.chroma .sc {
  color: #ea6900
}

/* LiteralStringDoc */
.chroma .sd {
  color: #ea6900
}

/* LiteralStringEscape */
.chroma .se {
  color: #ea6900;
  ;
  font-weight: bold
}

/* LiteralStringInterpol */
.chroma .si {
  background-color: #eeeeee
}

/* LiteralStringOther */
.chroma .sx {
  color: #ea6900;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #ea6900;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #ea6900;
}

/* LiteralNumber */
.chroma .m {
  color: #d63200;
  font-weight: bold
}

/* LiteralNumberBin */
.chroma .mb {
  color: #d63200;
  font-weight: bold
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #d63200;
  font-weight: bold
}

/* LiteralNumberHex */
.chroma .mh {
  color: #d63200;
  font-weight: bold
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #d63200;
  font-weight: bold
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #d63200;
  font-weight: bold
}

/* LiteralNumberOct */
.chroma .mo {
  color: #d63200;
  font-weight: bold
}

/* Operator */
.chroma .o {
  color: #333333
}

/* OperatorWord */
.chroma .ow {
  color: #333333;
  font-weight: bold
}

/* Comment */
.chroma .c {
  color: #bb8000;
  font-style: italic
}

/* CommentHashbang */
.chroma .ch {
  color: #bb8000;
  font-style: italic
}

/* CommentMultiline */
.chroma .cm {
  color: #bb8000;
  font-style: italic
}

/* CommentSingle */
.chroma .c1 {
  color: #bb8000;
  font-style: italic
}

/* CommentSpecial */
.chroma .cs {
  color: #bb8000;
  font-weight: bold;
  font-style: italic
}

/* CommentPreproc */
.chroma .cp {
  color: #bb8000
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #bb8000
}

/* GenericDeleted */
.chroma .gd {
  color: #a00000
}

/* GenericEmph */
.chroma .ge {
  font-style: italic
}

/* GenericError */
.chroma .gr {
  color: #ff0000
}

/* GenericHeading */
.chroma .gh {
  color: #000080;
  font-weight: bold
}

/* GenericInserted */
.chroma .gi {
  color: #00a000
}

/* GenericOutput */
.chroma .go {
  color: #888888
}

/* GenericPrompt */
.chroma .gp {
  color: #c65d09;
  font-weight: bold
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold
}

/* GenericSubheading */
.chroma .gu {
  color: #800080;
  font-weight: bold
}

/* GenericTraceback */
.chroma .gt {
  color: #0044dd
}

/* TextWhitespace */
.chroma .w {
  color: #bbbbbb
}