{{ define "title" }}{{ .Title | markdownify }}{{ end }} {{ define "schema-dot-org" }}
{{ end }} {{ define "main" }} {{ $dateFormat := default " 02 Jan 2006" (index .Site.Params "date_format") }}

<h1>{{ .Params.name }}</h1>
<img class="rounded-circle" src="{{ .Params.photo }}" alt="" />

<h2>自己紹介</h2>
<p>{{ .Params.bio }}</p>
<a href="https://twitter.com/{{ .Params.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ .Params.twitter }}
</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<p>note: <a href="{{ .Params.note }}">{{ .Params.note }}</a></p>
<p>website: <a href="{{ .Params.website }}">{{ .Params.website }}</a></p>

<h2>紹介した論文</h2>
<!-- Ranges through content/* and info!=nil.md -->
{{ range .Data.Pages }}
<div class='row'>
  <div class='col-2'>
    <p><a href="{{.Permalink}}"><img class="preview" src="{{.Permalink}}{{.Params.photo}}"></img></a></p>

  </div>
  <div class='col-10'>
    <p><a href="{{.Permalink}}">{{.Title}}</a><br><span class="date">{{- range .Params.authors }}{{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
        {{ .Params.name }}{{end}}
        {{end}}|{{.Date.Format "2006-01-02"}}</span>
    </p>

  </div>
</div>
{{ end }}
<style>
  .list p {
    font-size: 0.8em;
  }

  .date {
    color: #636363;
    font-size: 0.7em;
  }


  .preview {
    object-fit: cover;
    margin-bottom: .5em;
  }
</style>
{{ end }}
